<div class="container">
  <mat-tab-group dynamicHeight>
    <mat-tab label="HTML">
      <div class="example-large-box mat-elevation-z4">
        {{component$.htmlContent}}
      </div>
    </mat-tab>
    <mat-tab label="CSS">
      <div class="example-large-box mat-elevation-z4">
        {{component$.cssContent}}
      </div>
    </mat-tab>
    <mat-tab label="JS">
      <div class="example-large-box mat-elevation-z4">
        {{component$.jsContent}}
      </div>
    </mat-tab>
  </mat-tab-group>
  <a [routerLink]="['edit']"><button mat-raised-button color="accent">Edit {{ component$.title }}</button></a>
</div>


