.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://image.shutterstock.com/z/stock-photo-coding-programmer-abstract-background-computer-language-script-code-screen-red-green-color-274092284.jpg');
    background-size: cover;
  }