// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// B to W scale
$black:    #000;
$gray-900: #191919;
$gray-800: #323232;
$gray-700: #4c4c4c;
$gray-600: #666;
$gray-500: #7f7f7f;
$gray-400: #999;
$gray-300: #b2b2b2;
$gray-200: #ccc;
$gray-100: #e5e5e5;
$white:    #fff;

// dialog groep colors
$dg-main-color: #004A97;
$dg-light-color: #3468D0;
$dg-secondary-color: #f6993f;
