<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="component-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="component-element-picture">
              <img mat-card-image src="https://misti.com/images/OS-Code-Main.jpg"
                  alt="Photo of the Component">
            </div>
            <div class="component-element-diagram">
              <div class="component-element-position"> Title: {{element.title}} </div>
              <div class="component-element-name"> Category: {{element.category}} </div>
              <div class="component-element-weight"> Id: {{element.id}} </div>
              <div class="component-element-description"> Description: {{element.description}} </div>

            </div>
            <div class="componenent-element-buttons">
              <button mat-raised-button color="primary" [routerLink]="['/show-component', element.id]">SHOW</button>
              <br>
              <button mat-raised-button color="accent" [routerLink]="['/show-component/', element.id, 'edit']">EDIT</button>
              <br>
              <button mat-raised-button color="warn" [routerLink]="['/show-component', element.id]">DELETE</button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="component-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>


    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
  <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>
  
</div>