<div class="sidebar">
    <ul class="companyswitcher">
        <h4> Active company </h4>

        <li> <a href="#" class="name">  return all paginated response             </a></li>    
        <br>
        <li> <a href="#" class="name">  Filter on Company   api/components/company/:id    </a></li>
        <li> <a href="#" class="name">  Company 2        </a></li>
        <li> <a href="#" class="name">  Company 3        </a></li>
    </ul>
    <h3 >Components</h3>
    <ul *ngFor="let component of components" class="component-nav">
        <li>{{ component.category }}</li>
    </ul>
  </div>