<div class="sidebar">
    <ul class="component-nav">
        <h3>Components</h3>
        <!-- @foreach ($components as $component) -->
        <li> <a href="#" class="category"> category </a></li>
        
    </ul>
  
    <ul class="companyswitcher">
        <h4> Active company </h4>
        <li> <a href="#" class="name">  All              </a></li>    
        <br>
        <li> <a href="#" class="name">  Company 1        </a></li>
        <li> <a href="#" class="name">  Company 2        </a></li>
        <li> <a href="#" class="name">  Company 3        </a></li>
    </ul>
  </div>