<!-- add snippets to the database -->
<div class="container">
  <h1>EDIT COMPONENT</h1>
  <form *ngIf="finishedLoadingData" [formGroup]="componentForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input type="hidden" [(ngModel)]="compId" formControlName="id">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" [(ngModel)]="thisComponent$.title"  matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" [(ngModel)]="thisComponent$.category" required>
        <ng-container *ngFor="let category of uniqCategories">
          <mat-option value="{{category}}"> {{category}} </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <mat-select formControlName="company" [(ngModel)]="thisComponent$.company" required>
        <ng-container *ngFor="let company of uniqCompanies">
          <mat-option value="{{company}}"> {{ company }} </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Paste HTML here.</mat-label>
      <textarea matInput formControlName="htmlContent" [(ngModel)]="thisComponent$.htmlContent"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Paste CSS here.</mat-label>
      <textarea matInput formControlName="cssContent" [(ngModel)]="thisComponent$.cssContent"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Paste JS here.</mat-label>
      <textarea matInput formControlName="jsContent" [(ngModel)]="thisComponent$.jsContent"></textarea>
    </mat-form-field>
    <input type="hidden" formControlName="userForeignKey">
    <button class="btns edit-btn" mat-raised-button color="primary">Edit</button>
  </form>
  <!-- show modal with ARE YOU SURE TO DELETE? -->
  <button (click)="deleteComponent()" class="btns delete-btn" mat-raised-button color="warn">Delete</button>
</div>