<div class="container">

  <div class="row">
    <!-- card1 -->
    <div class="col-12 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dialog Component Library</mat-card-title>
          <mat-card-subtitle>The Videocomponent Database</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C4D0BAQF8TqzC0NroWA/company-logo_200_200/0?e=2159024400&v=beta&t=kUpEiuFMo87c6_8FiT3ElvJwXUlxzFKP0j1rMjOSs00" alt="Photo of the Component">
        <mat-card-actions>
          <a mat-fab color="warn" href="https://dialoggroep.eu/"> Website </a>
          <button mat-fab color="primary">LIKE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- card2 -->
    <div class="col-12 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dashboard</mat-card-title>
          <mat-card-subtitle>Go to the Dashboard-Table with components</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Solid_orange.png" alt="Photo of the Component">
        <mat-card-actions>
          <button mat-fab color="primary" [routerLink]="['/dashboard/table']">Go</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


  <div class="row mt-4">
    <!-- card 3 -->
    <div class="col-12 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Create a Component</mat-card-title>
          <mat-card-subtitle>Add an element to the database</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Solid_orange.png" alt="Photo of the Component">
        <mat-card-actions>
          <button mat-fab color="primary" [routerLink]="['/create-component']">Go</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- card 4 -->
    <div class="col-12 col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Create a Component</mat-card-title>
          <mat-card-subtitle>Add an element to the database</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image style="height: 450px;" src="https://misti.com/images/OS-Code-Main.jpg" alt="Photo of the Component">
        <mat-card-actions>
          <button mat-fab color="primary" [routerLink]="['/create-component']">Go</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>