<!-- add snippets to the database -->
<div class="container">
  <h1>Create Component</h1>
  <h1>{{uniqId}}</h1>
  <form [formGroup]="componentForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input type="hidden" [(ngModel)]="uniqId" formControlName="id">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" required>
        <ng-container *ngFor="let category of uniqCategories">
          <mat-option value="{{category}}"> {{category}} </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <mat-select formControlName="company" required>
        <ng-container *ngFor="let company of uniqCompanies">
          <mat-option value="{{company}}"> {{company}} </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Paste HTML here.</mat-label>
      <textarea matInput formControlName="htmlContent"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Paste CSS here.</mat-label>
      <textarea matInput formControlName="cssContent"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Paste JS here.</mat-label>
      <textarea matInput formControlName="jsContent"></textarea>
    </mat-form-field>
    <input type="hidden" formControlName="userForeignKey">
    <button mat-raised-button color="primary">Add to Database</button>
  </form>
</div>