<!-- add snippets to the database -->
<div class="container">
  <form (ngSubmit)="onSubmit()" #componentForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Titel</mat-label>
      <input matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select required>
        <!-- foreach cat in categories -->
        <mat-option value="option">Button</mat-option>
        <mat-option value="option">Textblock</mat-option>
        <mat-option value="option">Input Form</mat-option>
        <mat-option value="option">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <input matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Paste HTML here.</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Paste CSS here.</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Paste JS here.</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <button (ngSubmit)="saveComponent()" mat-raised-button color="primary">Add Titel to Database</button>
  </form>
</div>